/* Base navbar styles */
.navbar {
    background: linear-gradient(to right, #2c3e50, #4ca1af); /* Professional gradient background */
    color: white;
    padding: 0px 0; /* Adjust padding for a cleaner look */
    position: fixed;
    width: 100%; /* Full width */
    top: 0; 
    
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    font-family: "Lato", sans-serif;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}



.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-links li {
    margin: 0 20px; /* Add spacing between links */
    transition: transform 0.3s, box-shadow 0.3s;
}

.nav-links a {
    display: block; /* Makes the anchor cover the li */
    padding: 10px 20px; /* Padding for better clickable area */
    background: transparent; /* Transparent background */
    color: white; /* Text color */
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    border-radius: 5px; /* Slight rounding of corners */
}

.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Light up effect on hover */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Subtle shadow on hover */
    transform: translateY(-3px); /* Slight lift effect on hover */
}

.navbar-brand {
    display: flex;
    align-items: center; /* Center logo vertically */
    margin-right: 0px; /* Add some left margin if needed */
}

.logo{
    height:100px;
   
}


/* Hamburger menu styles */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu span {
    width: 25px;
    height: 3px;
    background: white;
    margin: 4px 0;
    transition: all 0.3s;
}

/* Responsive styles */
@media (max-width: 1200px) {
    .navbar-container{
        height:40px;
        padding: 20px;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background: linear-gradient(to right, #2c3e50, #4ca1af);
        align-items: center; /* Center links horizontally */
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hamburger-menu {
        display: flex;
    }
}
