/* This container wraps everything except the navbar */
.main-content {
    margin-top: 60px; /* Adjust this value based on the actual height of your navbar */
    width: 100%;
    padding: 20px 0; /* Adds padding around the content */
    box-sizing: border-box; /* Includes padding in width calculation */
    background: linear-gradient(to bottom, #000000, #2e153e);
}

.resume-header {
    text-align: center;
    margin: 20px;
    margin-top: 5%;
}

h1, p {
    color: #d1d1d1; /* Ensures text is visible */
}

.resume-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    height: 100vh; /* Take up remaining viewport height */
    width: 100%;
    color: white;
}

iframe, object {
    width: 80%; /* Adjust width as needed */
    height: 90%; /* Adjust height as needed */
    border: none;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html, body {
    height: 100%;
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
}

@keyframes float {
    0%, 100% {
        transform: translateY(0); /* Start and end at the original position */
    }
    50% {
        transform: translateY(-10px); /* Move up by 10 pixels */
    }
}

.resume-header h1 {
    font-size: 2rem; /* Adjust font size as needed */
    color: #b330f5; /* Text color */
    font-weight: 900;
    background: linear-gradient(to right, #530a94, #db9bf7); /* Example gradient from blue to teal */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Makes the text color transparent, showing the background */
    display: inline-block; /* Required to ensure the gradient covers the text */
    text-align: center;
    
    animation: float 4s ease-in-out infinite;  /* Smooths the animation transitions */
}