/* ProjectsPage.css */
body{

    font-family: "lato", sans-serif;
}
body h1{
    font-size: 42px; /* Large, bold text for the name */
    font-weight: 700;
    background: linear-gradient(to right, #530a94, #db9bf7);
    font-family: "Abril Fatface", serif;
    color: white;
    text-align: center;
    border-radius: 50px;
    padding: 30px;
    

}
body h2{
    font-family: "Abril Fatface", serif;
    font-weight: 600;
    color:#0078f8;
}
body p{
    font-family:"PT Sans", sans-serif;
    color:#000000;
    font-size: 20px;
}


.background {
    min-height: '100vh';
    background: linear-gradient(to bottom, #000000, #2e153e);
    padding-top: 10%;

}

.projects-container {
    background: rgb(255, 255, 255);
    background-size: cover;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-card {
    border: 2px solid black;
    padding: 50px;
    margin: 10px;
    width: 80%;
    box-shadow: 0px 0px 10px #000;
    display: flex;
    border-radius: 20px;
    background: rgb(255, 255, 255); /* semi-transparent white background */
}

.project-image-container {
    margin-right: 20px;
    width: 150%; /* Use 100% to make it flexible */
    max-width: 600px; /* Upper limit for horizontal images */
    min-width: 600px;
    height: 100%; /* Allow container height to adjust */
    max-height: 600px; /* Upper limit for horizontal images */
    overflow: hidden;
    border: 2px solid #000000; /* Blue border, you can change the color and size */
    border-radius: 10px; /* Optional: Adds rounded corners to the border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds subtle shadow for depth */
  
}



@media (max-width: 1200px) {
    .project-card {
        flex-direction: column; /* Change flex direction to column for smaller screens */
        align-items: center; /* Center items */
    }

    .project-image-container {
        margin-right: 0; /* Reset margin */
        margin-bottom: 20px; /* Add bottom margin for spacing */
        max-width: 500px; /* Adjust max-width for half-tabbed sizes */
        min-width: 400px;
        max-height: 500px; /* Adjust max-height for half-tabbed sizes */
    }
}

@media (max-width: 550px) {
    .project-card {
        flex-direction: column; /* Change flex direction to column for smaller screens */
        align-items: center; /* Center items */
    }
    .project-image-container {
        max-width: 200px; /* Adjust max-width for phone sizes */
        min-width: 200px;
        max-height: 300px; /* Adjust max-height for phone sizes */
    }
}



.project-details {
    flex-grow: 1;
}

.project-link {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 10%;
    display: inline-block;
    font-size: 20px;
}

.project-link:hover {
    text-decoration: underline;
}

.website-link {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 20%;
    display: inline-block;
    font-size: 20px;
}

.website-link:hover {
    text-decoration: underline;
}

/* Slick slider specific styles */
.slick-slide img {
    width: 100%;
    height:auto;
    max-height: 30%;
    display: block;
}

.slick-dots {
    position: relative;
    bottom: 0px; /* Adjust as necessary */
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

