/* ProjectsPage.css */
body{

    font-family: "lato", sans-serif;
}
body h2{
    font-family: "Abril Fatface", serif;
    font-weight: 600;
    color:#031db4;
}
body p{
    font-family:"PT Sans", sans-serif;
    color:#000;
    font-size: 20px;
}


.background {
    min-height: '100vh';
    background: linear-gradient(to bottom, #000000, #2e153e);
    padding-top: 10%;

}

.projects-container {
    background: rgb(255, 255, 255);
    background-size: cover;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-card {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    width: 80%;
    box-shadow: 0px 0px 10px #000;
    display: flex;
    border-radius: 20px;
    background: rgb(255, 255, 255); /* semi-transparent white background */
}

.project-image-container {
    margin-right: 20px;
    width: 50%;
    height: 400px;
    overflow: hidden; /* Keeps images from overflowing the div */
}

.project-details {
    flex-grow: 1;
}

.project-link {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 10%;
    display: inline-block;
    font-size: 20px;
}

.project-link:hover {
    text-decoration: underline;
}

.website-link {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 20%;
    display: inline-block;
    font-size: 20px;
}

.website-link:hover {
    text-decoration: underline;
}

/* Slick slider specific styles */
.slick-slide img {
    width: 100%;
    height: auto;
    display: block;
}

