/* Updated ProjectsPage.css */

body {
    font-family: "Lato", sans-serif;
    background: linear-gradient(to bottom, #2c3e50, #4ca1af); /* Updated background */
}

body h1 {
    font-size: 42px; /* Large, bold text */
    font-weight: 800;
    background: linear-gradient(to right, #ffffff, #f0ecec); /* Light gradient for readability */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Makes the text color transparent, showing the background */
    text-align: center;
    border-radius: 50px;
    padding: 30px;
    margin-top: 20px; /* Adjust margin for spacing */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.041); /* Subtle shadow for better contrast */
}

body h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    color: #4ca1af; /* Match color with the new theme */
}

body p {
    font-family: "PT Sans", sans-serif;
    color: #000000; /* Use white for better contrast */
    font-size: 20px;
}

.background {
    min-height: 100vh;
    background: linear-gradient(to bottom, #2c3e50, #4ca1af); /* Updated background */
    padding-top: 10%;
}

.projects-container {
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    background-size: cover;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-card {
    border: 2px solid #4ca1af; /* Update border color to match theme */
    padding: 50px;
    margin: 10px;
    width: 80%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
    display: flex;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
}

.project-image-container {
    margin-right: 50px;
    width: 100%;
    max-width: 600px; /* Upper limit for horizontal images */
    min-width: 400px;
    height: auto;
    border: 2px solid #4ca1af; /* Match border color with the new theme */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    
}

@media (max-width: 1200px) {
    .project-card {
        flex-direction: column; /* Change flex direction to column for smaller screens */
        align-items: center; /* Center items */
    }

    .project-image-container {
        margin-right: 0; /* Reset margin */
        margin-bottom: 20px; /* Add bottom margin for spacing */
        max-width: 500px; /* Adjust max-width for smaller screens */
    }
}

@media (max-width: 550px) {
    .project-card {
        flex-direction: column; /* Change flex direction to column for smaller screens */
        align-items: center; /* Center items */
    }

    .project-image-container {
        max-width: 200px; /* Adjust max-width for phone sizes */
    }
}

.project-details {
    flex-grow: 1;
}

.project-link, .website-link {
    text-decoration: none;
    color: #4ca1af; /* Match link color with the new theme */
    font-weight: bold;
    margin-top: 5%;
    display: inline-block;
    font-size: 20px;
}

.website-link{
    margin-left: 5%;
}

.project-link:hover, .website-link:hover {
    text-decoration: underline;
}

/* Slick slider specific styles */
.slick-slide img {
    width: 100%;
    height: auto;
    max-height: 30%;
    display: block;
}

.slick-dots {
    position: relative;
    bottom: 0px; /* Adjust as necessary */
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

