/* Base styles */
body {
    font-family: "Lato", sans-serif;
    background: linear-gradient(to bottom, #2c3e50, #4ca1af);
    margin: 0;
    padding: 0;
    color: white;
}

.bio-container {
    width: 80%;
    margin: 9rem auto;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #2c3e50;
}

.bio-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    border-radius:10px;
    padding-top:30px;
    background: linear-gradient(to bottom, #2c3e50, #4ca1af);
}

.bio-photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.bio-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;

}

.bio-description {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
}

.section-title {
    font-size: 2rem;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: #4ca1af;
    
}

.motto {
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
    
}

.languages-list, .technologies-list, .hobbies-list, .softskills-list {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     
    
}


.languages-list li, .technologies-list li, .hobbies-list li, .softskills-list li {
    background: #f2f2f2;
    color: #ffffff;
    margin: 5px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease-in-out; 
}
.languages-list li{
    background: linear-gradient(to bottom, #8dc3fa, #1f5159);
}

.technologies-list li{
    background: linear-gradient(to bottom, #5ae3b7, #296f3a);
}

.softskills-list li{

    background: linear-gradient(to bottom, #a34fbf, #531d58);
}

.hobbies-list li{
    background: linear-gradient(to bottom, #fab847, #b98230);
}

.languages-list li:hover, .technologies-list li:hover, .hobbies-list li:hover, .softskills-list li:hover {
    animation: float 1.5s infinite alternate;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-3px); /* Move up by 10 pixels */
    }
}

/* Responsive styles */
@media (max-width: 768px) {
    .bio-container {
        width: 90%;
    }

    .bio-photo{
        width: 150px;
    height: 150px;
    }

    .bio-title {
        font-size: 2rem;
    }

    .bio-description {
        font-size: 1rem;
    }

    .section-title {
        font-size: 1.5rem;
    }

    .motto {
        font-size: 1.2rem;
    }

    .skills-list li, .hobbies-list li {
        font-size: 0.9rem;
        padding: 8px 10px;
    }
}
